{{- range .Values.segments }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: unified-dns-dhcp-{{ .name }}-config
  namespace: {{ $.Values.global.namespace }}
data:
  {{- if $.Values.services.dns.enabled }}
  {{- $ctx := dict "segment" . "global" $.Values.global }}

  {{- if eq ($.Values.global.resolver.type | default "knot") "knot" }}
  {{- include "configs.kresd" $ctx | nindent 2 }}
  {{- else if eq $.Values.global.resolver.type "unbound" }}
  {{- include "configs.unbound" $ctx | nindent 2 }}
  {{- end }}

  {{- if eq ($.Values.global.authDNS.type | default "knot") "bind" }}
  {{- include "configs.bind" $ctx | nindent 2 }}
  {{- else }}
  {{- include "configs.knot" $ctx | nindent 2 }}
  {{- end }}

  {{- include "configs.zone.forward" $ctx | nindent 2 }}
  {{- include "configs.zone.reverseV4" $ctx | nindent 2 }}
  {{- include "configs.zone.reverseV6" $ctx | nindent 2 }}
  {{- include "configs.merge-static-records" $ctx | nindent 2 }}
  {{- end }}

  {{- if $.Values.services.dhcp.enabled }}
  {{- $ctx := dict "segment" . "global" $.Values.global }}
  {{- include "configs.kea.dhcp4" $ctx | nindent 2 }}
  {{- include "configs.kea.ddns" $ctx | nindent 2 }}
  {{- include "configs.restore-kea-leases" $ctx | nindent 2 }}
  {{- if and $.Values.stork.enabled $.Values.stork.agent.enabled }}
  {{- include "configs.kea.ctrl-agent" $ctx | nindent 2 }}
  {{- end }}
  {{- end }}
{{- end }}
