{{- if .Values.lookingGlass.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: looking-glass-config
  namespace: {{ .Values.global.namespace }}
  labels:
    app: looking-glass
data:
  segments.json: |
    {{- if .Values.lookingGlass.segments }}
    {{ toJson .Values.lookingGlass.segments }}
    {{- else }}
    {{- $segments := list }}
    {{- range .Values.segments }}
    {{- $segments = append $segments (dict "name" (toString .name) "namespace" $.Values.global.namespace "statefulset" (printf "unified-dns-dhcp-%s" (toString .name))) }}
    {{- end }}
    {{ toJson $segments }}
    {{- end }}
  endpoints.json: |
    {{- $endpoints := list }}
    {{- range .Values.segments }}
    {{- $endpoints = append $endpoints (dict "name" (toString .name) "url" (printf "http://unified-dns-dhcp-%s-kea-api.%s.svc.cluster.local:8000" (toString .name) $.Values.global.namespace)) }}
    {{- end }}
    {{ toJson $endpoints }}
{{- end }}
